@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: 'Roboto';
}
/*fim do reset*/

header {
    background-color: #5a5a5a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header ul {
    display: flex;
} 


